In [1]:
import pandas as pd
import numpy as np

Load in the dataframe

In [2]:
df = pd.read_csv('data/McDonald_s_Reviews.csv', encoding='latin-1')
df

,reviewer_id,store_name,category,store_address,latitude,longitude,rating_count,review_time,review,rating
0,1,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star
1,2,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars
2,3,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star
3,4,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars
4,5,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star
...,...,...,...,...,...,...,...,...,...,...
33391,33392,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",4 years ago,They treated me very badly.,1 star
33392,33393,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,The service is very good,5 stars
33393,33394,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,To remove hunger is enough,4 stars
33394,33395,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",5 years ago,"It's good, but lately it has become very expen...",5 stars
33395,33396,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2 years ago,they took good care of me,5 stars

Explore data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33396 entries, 0 to 33395
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   reviewer_id    33396 non-null  int64
 1   store_name     33396 non-null  object
 2   category       33396 non-null  object
 3   store_address  33396 non-null  object
 4   latitude       32736 non-null  float64
 5   longitude      32736 non-null  float64
 6   rating_count   33396 non-null  object
 7   review_time    33396 non-null  object
 8   review         33396 non-null  object
 9   rating         33396 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 2.5+ MB

In [4]:
df['category'].value_counts()

category
Fast food restaurant    33396
Name: count, dtype: int64

In [5]:
df['category'].unique()

array(['Fast food restaurant'], dtype=object)

In [6]:
df['rating'].value_counts()

rating
5 stars    10274
1 star      9431
4 stars     5787
3 stars     4818
2 stars     3086
Name: count, dtype: int64

'category' appears to be a useless column, likely will drop

In [7]:
df = df.drop('category', axis=1)
df.head()

,reviewer_id,store_name,store_address,latitude,longitude,rating_count,review_time,review,rating
0,1,McDonald's,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star
1,2,McDonald's,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars
2,3,McDonald's,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star
3,4,McDonald's,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars
4,5,McDonald's,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33396 entries, 0 to 33395
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   reviewer_id    33396 non-null  int64
 1   store_name     33396 non-null  object
 2   store_address  33396 non-null  object
 3   latitude       32736 non-null  float64
 4   longitude      32736 non-null  float64
 5   rating_count   33396 non-null  object
 6   review_time    33396 non-null  object
 7   review         33396 non-null  object
 8   rating         33396 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 2.3+ MB

False

In [ ]:
lat_nan = df[df['latitude'].isnull()]

In [ ]:
df['latitude'].head(50)

In [ ]:
print(df.columns)

In [ ]:
df.columns = df.columns.str.strip()

In [ ]:
print(df.columns)

In [ ]:
df['latitude'].isna()

In [ ]:
rows_with_nan = df[df['latitude'].isna()]

In [ ]:
print(rows_with_nan)

Only 660 NaNs for Lat&Long, may be easiest to just drop

If I have Lat & Long, can prob drop 'store_address'

May have to change 'rating' into int 1-5

In [ ]:
df[['store_address', 'latitude', 'longitude']]

In [ ]:
unique_rows = df[['store_address', 'latitude', 'longitude']].drop_duplicates()
unique_rows

In [ ]:
len(unique_rows)

Appears to be 40 unique combos of address, lat & long

drop NaNs

In [ ]:
df = df.dropna()
df.info()

change 'rating' to float for consistency

In [ ]:
df['rating'] = df['rating'].str.extract('(\d+)').astype(float)
df['rating'].value_counts()

In [ ]:
df.info()

In [ ]:
print(df['rating'].dtype)

In [ ]:
df['store_name'].value_counts()

This is odd. May not need column, can clean anyway

In [ ]:
df['store_name'] = df['store_name'].str.replace('ý', '')
df['store_name'].value_counts()

In [ ]:
df.info()

In [ ]:
df['review']

In [ ]:
df['rating_count']

In [ ]:
df['rating_count'].value_counts()

In [ ]:
df.head(20)

'rating_count' = # ratings for the store. odd column, drop?

'review_time' could be used to see how reviews change over time? or ignore?

drop 'store_name', it's unneccessary.

In [ ]:
df = df.drop('store_name', axis=1)
df.info()

'reviewer_id' unneccessary. drop

In [ ]:
df = df.drop('reviewer_id', axis=1)
df

In [ ]:
df_cleaned = df
df_cleaned

In [ ]:
df_cleaned.to_csv('data/cleaned.csv')